<div class="container-flex">
    <div class="row">
    <div class="col-md-4 col-2"></div>

    <div class="form-container col-md-4 col-8">
    <form 
    [formGroup]="passwordForm"
    >
    <div class="form-group mx-sm-3 mb-2 ">
        <label for="password" class = "text-style"> Introduzca la nueva contraseña </label>
        <input
        novalidate
        id="password"
        class="form-control"
        formControlName="password"
        placeholder="Contraseña"
        />
        <div
        class="text-danger"
        *ngIf="
            passwordForm.get('password')?.hasError('required') &&
            passwordForm.get('password')!.touched
        "
        
        >
        La contraseña es requerida
        </div>
        <div
        class="text-danger"
        *ngIf="passwordForm.get('password')?.hasError('minlength')"
        
        >
        La contraseña debe ser mínimo de 8 caracteres
        </div>
    </div>


    <div class="form-group mx-sm-3 mt-5">
        <label for="confirmPassword" class = "text-style"> Confirmar la nueva contraseña </label>
        <input
        novalidate
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirmar contraseña"
        />
        <div
        class="text-danger"
        *ngIf="
            passwordForm.get('confirmPassword')?.hasError('required') &&
            passwordForm.get('confirmPassword')!.touched
        "
        
        >
        La confirmación de la contraseña es requerida
        </div>
        <div
        class="text-danger"
        *ngIf="passwordForm.get('confirmPassword')?.hasError('minlength')"
        
        >
        La contraseña debe ser mínimo de 8 caracteres
        </div>
    </div>
    
    </form>

    </div>

    <div class="col-md-4 col-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2 col-2"></div>
        <div class="col-md-3 col-3 ">
            <button type="submit" class="button-volver p-1 w-100"  (click)="onCancel()">Volver</button>
        </div>
        <div class="col-md-2 col-2"></div>
        <div class="col-md-3 col-3">
            <button type="button" class="button-guardar ms-1 p-1 w-100" (click)="createPassword() " >Guardar</button>
        </div>
    </div>
</div>

<app-modal-information [message]="message" *ngIf="isPopupVisible" (closeEvent)="hidePopup()"></app-modal-information>

    
    