.main-container {
    background-color: #E4F2FB;
    display: flex;
  }

  .cucu-img-container {
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the background image */
    height: 100vh; /* Set the height of the div */
    width: 100%; /* Set the width of the div */
  }
  
  h3 {
    font-weight: 600;
  }

.container-brand {
    background-color: #0f84ea;
    background: linear-gradient(135deg, #0077FF, #34E0E0); 
}

.container-slogan {
    display: flex;
    margin-left: 7.5em;
    margin-top: 2em;
    width: 55%;
}

.container-login {
    width: 40%;
    background-color: #E4F2FB;
    margin: 15em;
}
  .split {
    height: 100%;
    width: 55%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #E4F2FB;
  }

  .container-logo {
    // background-color: #0f84ea;
    margin-bottom: 0.5em;
  }

  .container-img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-logo {
    text-align: center;
    padding-top: 1.5em;
    width: 7em;
  }

  .text-logo {
    font-size: 42px;
    text-align: center;
    color: white;
    margin-top: 0.5em;
  }
  
  .text-slogan {
    font-size: 22px;
    text-align: center;
    color: white;
    margin-left: 5em;
  }

  .right {
    right: 0;
    background-color: #E4F2FB;
  }
  
  .img-login {
    margin-top: 35px;
    height: 76%;
  }
  
  .centered {

  }
  
  .container-title {
    text-align: center;
    line-height: 15px;
    margin-bottom: 45px;
  }

  .container-card{
    padding: 1.5em;
    background-color: #F2F3FA;
  }
  
  .input-login, .icon-login {
    background-color: #F2F3FA;;
    border: 1px solid #bdbdbd;
    border-radius: 0%;
  }
  
  .input-login:active,
  .input-login:focus {
    border-bottom: 2px solid #0f84ea;
  }
  
  ::placeholder { 
    color: #bdbdbd;
    opacity: 1;
  }
  
  .icon-login {
    padding-right: 0px;
    padding-left: 0px;
    cursor: pointer;
  }
  
  .icon-login:target {
    border-bottom: 2px solid #0f84ea;
  }
  
  .invalid-input {
    border-color: #dc3545;
  }
  
  .invalid-input-label {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }
  
  .container-btn-password {
    justify-content: center;
    padding-top: 5px;
  }
  
  .button-password {
    margin-left: -10px;
    padding-top: 2px;
    color: #256Edc;
  }
  
  .button-password:hover {
    color: #0f84ea;
  }
  
  .container-btn-action {
    text-align: center;
    width: 100%;
  }
  
  .btn-primary {
    background-color: #0f84ea;
    border-color: #0f84ea;
    font-size: 16px;
    width: 100%;
  }
  
  .btn-primary:hover {
    background-color: #256Edc;
    border-color: #256Edc;
  
  }
  
  .btn-primary[disabled] { 
    background-color: #707070;
    border-color: #707070;
  }
  
  .btn-primary[disabled]:hover { 
    background-color: #707070;
    border-color: #707070;
  }

  .btn-register{
    background-color: #BCDEFB;
    border-color: #BCDEFB;
    color: black;
  }
  
  .error-message {
     margin-top: -15px;
     margin-bottom: 10px;
  }