<div class="main-container container-fluid h-100">

    <div class="row h-100">
          <div class="container-brand col-12 col-md-6 text-white d-flex align-items-center justify-content-center">
            <div>
              <div class="container-logo">
                <div class="container-img-logo">
                  <img class="img-logo" src="assets/images/clock.png" alt="">
                </div>
                <p class="text-logo">Cucu</p>
              </div>
              <div class="container-slogan">
                <p class="text-slogan">Te ayuda a programar alarmas de manera detallada y amigable</p>
              </div>
            </div>
          </div>
            <!-- <img class="split left img-login" [src]="'assets/img/banner_home_akt.jpg'" /> -->
        
  
          <div class="col container-login">
              <!-- <div class="container-title">
                  <h5 class="title">
                      <span class="title">Iniciar Sesión</span>
                  </h5>
                  <p>Ingrese su usuario</p>
              </div>
              <div>
                  <a href="/"><img class="img-fluid" [src]="'assets/img/login.png'" width="700" /></a>
              </div> -->
              <div class="">
                  <div class="centered">
                    <div class="container-card">
                        <p>Ingresa tu correo electrónico para recuperar tu cuenta</p>
                        <form #formGroup [formGroup]="loginForm">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control input-login shadow-none" placeholder="Correo electrónico"
                                  formControlName="user"
                                  [ngClass]="{ 'invalid-input': validateForm('user') }">
                                <div *ngIf="validateForm('user')"
                                [ngClass]="{ 'invalid-input-label': validateForm('user') }">
                                              El correo es requerido.
                                </div>
                                <div *ngIf="validateEmail('user')"
                                [ngClass]="{ 'invalid-input-label': validateEmail('user')  }">
                                          Por favor ingrese un email valido.
                              </div>
                            </div>
                        </form>
                        <div class="container-btn-action">
                            <button type="button" class="btn btn-primary" (click)="confirmation() "
                              >Recuperar</button>
                        </div>
                      <hr/>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </div>

  <app-modal-information 
    [message]="message" 
    *ngIf="isPopupVisible" 
    (closeEvent)="hidePopup()"
    [showTwoButtons]="false"
    [buttonNameTwo]="'Aceptar'">
</app-modal-information>