.background-custom-color {   
    background-color: #E4F2FB; 
    background-image: url(../assets/images/pajarito.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

