<div class="background-custom-color-main-page">
    <br>
    <app-cucu-header (openModalCloseSession)="showPopup()" (openModalCloseSessionQR)="showPopupQR()"></app-cucu-header>
    <br>
    <mat-divider></mat-divider>
    <br>
    <app-body-main-page></app-body-main-page>
    
    <app-modal-information 
    [message]="message" 
    *ngIf="isPopupVisible" 
    (closeEvent)="hidePopup()"
    [imageInterrogationIsPresent]="false"
    [showTwoButtons]="false"
    [buttonNameTwo]="'Aceptar'">
</app-modal-information>

<app-modal-qr
    *ngIf="isPopupVisibleQR" 
    (closeEvent)="hidePopupQR()">
</app-modal-qr>
</div>