.mat-divider {
    border-top-color: #C3C6CF;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.background-custom-color-main-page {   
    background-color: #E4F2FB; 
    background-image: url(../../assets/images/pajarito.png);
    background-repeat: no-repeat;
    background-position: center;
}