<div class="containe pt-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4 col-8">
            <h1 class="nunito-text-h1">Reporte de alarmas</h1>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-12">
            <h3 class="nunito-text-h1">% de categorías más usadas</h3>
            <img src="assets/images/categorias-mas-usadas.png" alt="categorias-mas-usada" />
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3 col-12">
            <h3 class="nunito-text-h1">Estados de alarma por categoría</h3>
            <img src="assets/images/estados-de-alarma-por-categoria.png" alt="estados-de-alarma-por-categoria" />
        </div>
    </div>
    <div class="row pt-0">
        <div class="col-md-1"></div>
        <div class="col-md-3 col-12">
            <h3 class="nunito-text-h1">Cantidad de alarmas por semana</h3>
            <img src="assets/images/cantidad-de-alarmas-por-semana.png" alt="Cantidad de alarmas por categoría" />
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3 col-12">
            <h3 class="nunito-text-h1">Cantidad de tareas por categoría</h3>
            <img src="assets/images/cantidad-de-tareas-por-categoria.png" alt="Cantidad de tareas por categoría" />
        </div>
    </div>
    
</div>