.text-style {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-size: 24px;
    color: #1E1E1E;
  }

  input::placeholder {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-size: 16px;
    color: #1E1E1E;
  }