.custom-tooltip-test {
    --bs-tooltip-bg: var(--bd-violet-bg) !important;
    --bs-tooltip-color: var(--bs-white);
    background-color: red;
  }

.exit-session {
    height: 50px;
    width: 50px;
    background-color: rgb(238, 104, 70);
    background: linear-gradient(#FF8981 44px, #ADAAAA);
    margin: auto;
}

.border-menu {
    width: 50%;
    height: 80px;
    border: 2px solid #C3C6CF;
    background: linear-gradient(#BCDEFB 70px, #ADAAAA);
  }

.pt-7 {
  padding-top: 4rem !important;
}

.text-style {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-size: 22px;
  color: #191C20;
}

.text-style-tooltip {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
  color: #191C20;
}